<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="CommandLineParser" version="1.9.71" targetFramework="net40-Client" developmentDependency="true" />
	<package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net40-Client" developmentDependency="true" />
	<package id="NuGet.Core" version="2.10.1" targetFramework="net40-Client" developmentDependency="true" />
</packages>